.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  width: 100%;
  height: 100%;
}

.lgreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
}

.dgreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #747474;
}

.lgreen img,
.dgreen img {
  position: absolute;
  max-width: 9%;
  max-height: 9%;
  z-index: 1;
  object-fit: contain;
}

.dropShadow {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.parent {
  box-shadow: inset 2px 4px 12px rgba(0, 0, 0, 0.917);
}

/* Define the glowing effect */
.lgreen .glow, .dgreen .glow {
  position: relative;
  z-index: 0;
}

.glow::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  background: rgba(0, 0, 255, 0.5); /* Blue glow */
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7),
              0 0 25px rgba(0, 0, 255, 0.5),
              0 0 35px rgba(0, 0, 255, 0.3);
  z-index: -1;
  pointer-events: none;
}
