.ChessPlayground{
    background-color: #111111;
    height: 100%;
    display: flex;
    width: 100%;
    color: rgb(26, 26, 26);
}

.chessboardsurface{
    margin: 3%;
    background-color: #2222226d;
    padding: 2%;
    align-items: center;
    box-shadow: 0px 15px 15px rgb(0, 0, 0);
    color: rgb(10, 10, 10);
    border-radius: 20px;
    opacity: 0.2;
    display: inline-block;
}

.controls{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    flex-direction: column;
}

.controls button {
    padding: 5px 5px;
    width: 200px;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
    margin: 1%;
}